In [1]:
import pandas as pd
from pandas_profiling import ProfileReport

# The COVID Tracking Project (CTP)(All states)

In [2]:
def get_ctp():
    return pd.read_csv('../datasets/ctp/ctp-all.csv')

In [4]:
ctp_df = get_ctp()
ctp_df

,date,state,dataQualityGrade,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2021-02-06,AK,A,279.0,NaN,0,NaN,1219.0,1219.0,44.0,...,1536911.0,0,NaN,NaN,NaN,NaN,NaN,0,1536911.0,0
1,2021-02-06,AL,A,8513.0,6746.0,64,1767.0,43005.0,43005.0,1551.0,...,2182021.0,32337,NaN,NaN,108818.0,NaN,2182021.0,32337,NaN,0
2,2021-02-06,AR,A+,5061.0,4043.0,11,1018.0,14049.0,14049.0,750.0,...,2520485.0,12253,NaN,NaN,NaN,388441.0,NaN,0,2520485.0,12253
3,2021-02-06,AS,NaN,0.0,NaN,0,NaN,NaN,NaN,NaN,...,2140.0,0,NaN,NaN,NaN,NaN,NaN,0,2140.0,0
4,2021-02-06,AZ,A+,14011.0,12451.0,63,1560.0,54507.0,54507.0,3060.0,...,6922180.0,33060,421751.0,NaN,NaN,NaN,3530097.0,10512,6922180.0,33060
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19144,2020-01-17,WA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
19145,2020-01-16,WA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
19146,2020-01-15,WA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
19147,2020-01-14,WA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
19148,2020-01-13,WA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0

In [4]:
for feature in ctp_df:
    print(feature)

date
state
dataQualityGrade
death
deathConfirmed
deathIncrease
deathProbable
hospitalized
hospitalizedCumulative
hospitalizedCurrently
hospitalizedIncrease
inIcuCumulative
inIcuCurrently
negative
negativeIncrease
negativeTestsAntibody
negativeTestsPeopleAntibody
negativeTestsViral
onVentilatorCumulative
onVentilatorCurrently
positive
positiveCasesViral
positiveIncrease
positiveScore
positiveTestsAntibody
positiveTestsAntigen
positiveTestsPeopleAntibody
positiveTestsPeopleAntigen
positiveTestsViral
recovered
totalTestEncountersViral
totalTestEncountersViralIncrease
totalTestResults
totalTestResultsIncrease
totalTestsAntibody
totalTestsAntigen
totalTestsPeopleAntibody
totalTestsPeopleAntigen
totalTestsPeopleViral
totalTestsPeopleViralIncrease
totalTestsViral
totalTestsViralIncrease

In [4]:
profile = ProfileReport(ctp_df, title='The Covid Tracking Project', explorative=True)
profile.to_widgets()

Summarize dataset:   0%|          | 0/56 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

# Google Mobility Reports (US Regions)

In [2]:
def get_mobility():
    return pd.read_csv('../datasets/mobility/2020_US_Region_Mobility_Report.csv')

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,US,United States,NaN,NaN,NaN,NaN,NaN,15/02/2020,6.0,2.0,15.0,3.0,2.0,-1.0
1,US,United States,NaN,NaN,NaN,NaN,NaN,16/02/2020,7.0,1.0,16.0,2.0,0.0,-1.0
2,US,United States,NaN,NaN,NaN,NaN,NaN,17/02/2020,6.0,0.0,28.0,-9.0,-24.0,5.0
3,US,United States,NaN,NaN,NaN,NaN,NaN,18/02/2020,0.0,-1.0,6.0,1.0,0.0,1.0
4,US,United States,NaN,NaN,NaN,NaN,NaN,19/02/2020,2.0,0.0,8.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
892363,US,United States,Wyoming,Weston County,NaN,NaN,56045.0,25/01/2021,NaN,NaN,NaN,NaN,-16.0,NaN
892364,US,United States,Wyoming,Weston County,NaN,NaN,56045.0,26/01/2021,NaN,NaN,NaN,NaN,-19.0,NaN
892365,US,United States,Wyoming,Weston County,NaN,NaN,56045.0,27/01/2021,NaN,NaN,NaN,NaN,-14.0,NaN
892366,US,United States,Wyoming,Weston County,NaN,NaN,56045.0,28/01/2021,NaN,NaN,NaN,NaN,-11.0,NaN
892367,US,United States,Wyoming,Weston County,NaN,NaN,56045.0,29/01/2021,NaN,NaN,NaN,NaN,-10.0,NaN