In [2]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from data import get_ctp, get_mobility, get_mask_usage

In [3]:
ctp_df = get_ctp()
ctp_df

,date,state,dataQualityGrade,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2021-02-06,AK,A,279.0,NaN,0,NaN,1219.0,1219.0,44.0,...,1536911.0,0,NaN,NaN,NaN,NaN,NaN,0,1536911.0,0
1,2021-02-06,AL,A,8513.0,6746.0,64,1767.0,43005.0,43005.0,1551.0,...,2182021.0,32337,NaN,NaN,108818.0,NaN,2182021.0,32337,NaN,0
2,2021-02-06,AR,A+,5061.0,4043.0,11,1018.0,14049.0,14049.0,750.0,...,2520485.0,12253,NaN,NaN,NaN,388441.0,NaN,0,2520485.0,12253
3,2021-02-06,AS,NaN,0.0,NaN,0,NaN,NaN,NaN,NaN,...,2140.0,0,NaN,NaN,NaN,NaN,NaN,0,2140.0,0
4,2021-02-06,AZ,A+,14011.0,12451.0,63,1560.0,54507.0,54507.0,3060.0,...,6922180.0,33060,421751.0,NaN,NaN,NaN,3530097.0,10512,6922180.0,33060
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19144,2020-01-17,WA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
19145,2020-01-16,WA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
19146,2020-01-15,WA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
19147,2020-01-14,WA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
19148,2020-01-13,WA,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0

In [4]:
mobility_df = get_mobility()
mobility_df

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,US,United States,NaN,NaN,NaN,NaN,NaN,15/02/2020,6.0,2.0,15.0,3.0,2.0,-1.0
1,US,United States,NaN,NaN,NaN,NaN,NaN,16/02/2020,7.0,1.0,16.0,2.0,0.0,-1.0
2,US,United States,NaN,NaN,NaN,NaN,NaN,17/02/2020,6.0,0.0,28.0,-9.0,-24.0,5.0
3,US,United States,NaN,NaN,NaN,NaN,NaN,18/02/2020,0.0,-1.0,6.0,1.0,0.0,1.0
4,US,United States,NaN,NaN,NaN,NaN,NaN,19/02/2020,2.0,0.0,8.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
892363,US,United States,Wyoming,Weston County,NaN,NaN,56045.0,25/01/2021,NaN,NaN,NaN,NaN,-16.0,NaN
892364,US,United States,Wyoming,Weston County,NaN,NaN,56045.0,26/01/2021,NaN,NaN,NaN,NaN,-19.0,NaN
892365,US,United States,Wyoming,Weston County,NaN,NaN,56045.0,27/01/2021,NaN,NaN,NaN,NaN,-14.0,NaN
892366,US,United States,Wyoming,Weston County,NaN,NaN,56045.0,28/01/2021,NaN,NaN,NaN,NaN,-11.0,NaN
892367,US,United States,Wyoming,Weston County,NaN,NaN,56045.0,29/01/2021,NaN,NaN,NaN,NaN,-10.0,NaN

In [5]:
mask_usage_df = get_mask_usage()
# mask_usage_df = mask_usage_df.set_index('COUNTYFP')
mask_usage_df

      COUNTYFP  NEVER  RARELY  SOMETIMES  FREQUENTLY  ALWAYS
0         1001  0.053   0.074      0.134       0.295   0.444
1         1003  0.083   0.059      0.098       0.323   0.436
2         1005  0.067   0.121      0.120       0.201   0.491
3         1007  0.020   0.034      0.096       0.278   0.572
4         1009  0.053   0.114      0.180       0.194   0.459
...        ...    ...     ...        ...         ...     ...
3137     56037  0.061   0.295      0.230       0.146   0.268
3138     56039  0.095   0.157      0.160       0.247   0.340
3139     56041  0.098   0.278      0.154       0.207   0.264
3140     56043  0.204   0.155      0.069       0.285   0.287
3141     56045  0.142   0.129      0.148       0.207   0.374

[3142 rows x 6 columns]

In [6]:
fl_counts = []
for i in mask_usage_df.index:
    if str(i)[:2] == '12':
        fl_counts.append(i)

In [7]:
fl_mask_usage_df = mask_usage_df[mask_usage_df['COUNTYFP'].isin(fl_counts)]

In [8]:
fl_mask_usage_df

Empty DataFrame
Columns: [COUNTYFP, NEVER, RARELY, SOMETIMES, FREQUENTLY, ALWAYS]
Index: []

# Feature Selection

In [9]:
start_date = '2020-03-20'
end_date = '2020-12-31'

In [10]:
ctp_features = [
    'date',
    'state',
    'death',
    'deathIncrease',
    'hospitalized',
    'hospitalizedIncrease',
    'positive',
    'positiveIncrease',
    'negative',
    'negativeIncrease'
]
ctp_df = ctp_df[ctp_features]
ctp_df

,date,state,death,deathIncrease,hospitalized,hospitalizedIncrease,positive,positiveIncrease,negative,negativeIncrease
0,2021-02-06,AK,279.0,0,1219.0,0,53279.0,0,NaN,0
1,2021-02-06,AL,8513.0,64,43005.0,0,471311.0,1992,1811811.0,29900
2,2021-02-06,AR,5061.0,11,14049.0,147,306064.0,1341,2277271.0,11290
3,2021-02-06,AS,0.0,0,NaN,0,0.0,0,2140.0,0
4,2021-02-06,AZ,14011.0,63,54507.0,198,779093.0,3471,2801489.0,7563
...,...,...,...,...,...,...,...,...,...,...
19144,2020-01-17,WA,NaN,0,NaN,0,0.0,0,NaN,0
19145,2020-01-16,WA,NaN,0,NaN,0,0.0,0,NaN,0
19146,2020-01-15,WA,NaN,0,NaN,0,0.0,0,NaN,0
19147,2020-01-14,WA,NaN,0,NaN,0,0.0,0,NaN,0
19148,2020-01-13,WA,NaN,0,NaN,0,NaN,0,NaN,0

In [11]:
mobility_features = [
    'date',
    'sub_region_1',
    'sub_region_2',
    'retail_and_recreation_percent_change_from_baseline',
    'grocery_and_pharmacy_percent_change_from_baseline',
    'parks_percent_change_from_baseline',
    'transit_stations_percent_change_from_baseline',
    'workplaces_percent_change_from_baseline',
    'residential_percent_change_from_baseline'
]
mobility_df = mobility_df[mobility_features]
mobility_df

,date,sub_region_1,sub_region_2,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,15/02/2020,NaN,NaN,6.0,2.0,15.0,3.0,2.0,-1.0
1,16/02/2020,NaN,NaN,7.0,1.0,16.0,2.0,0.0,-1.0
2,17/02/2020,NaN,NaN,6.0,0.0,28.0,-9.0,-24.0,5.0
3,18/02/2020,NaN,NaN,0.0,-1.0,6.0,1.0,0.0,1.0
4,19/02/2020,NaN,NaN,2.0,0.0,8.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...
892363,25/01/2021,Wyoming,Weston County,NaN,NaN,NaN,NaN,-16.0,NaN
892364,26/01/2021,Wyoming,Weston County,NaN,NaN,NaN,NaN,-19.0,NaN
892365,27/01/2021,Wyoming,Weston County,NaN,NaN,NaN,NaN,-14.0,NaN
892366,28/01/2021,Wyoming,Weston County,NaN,NaN,NaN,NaN,-11.0,NaN
892367,29/01/2021,Wyoming,Weston County,NaN,NaN,NaN,NaN,-10.0,NaN

# Florida

In [12]:
fl_ctp_df = ctp_df[ctp_df['state']=='FL']
fl_ctp_df = fl_ctp_df[:323]
fl_ctp_df = fl_ctp_df[::-1].reset_index(drop=True) # Reverse the order so it is in chronological order.
fl_ctp_df['date'] = pd.to_datetime(fl_ctp_df['date'])
mask = (fl_ctp_df['date'] >= start_date) & (fl_ctp_df['date'] <= end_date)
fl_ctp_df = fl_ctp_df.drop(['state'], 1)
fl_ctp_df = fl_ctp_df.loc[mask].reset_index(drop=True)
# fl_ctp_df = fl_ctp_df.set_index('date')
fl_ctp_df = fl_ctp_df.reset_index(drop=True)
fl_ctp_df

,date,death,deathIncrease,hospitalized,hospitalizedIncrease,positive,positiveIncrease,negative,negativeIncrease
0,2020-03-21,12.0,2,158.0,158,528.0,142,6579.0,4709
1,2020-03-22,13.0,1,185.0,27,731.0,203,7990.0,1411
2,2020-03-23,14.0,1,217.0,32,1029.0,298,11063.0,3073
3,2020-03-24,18.0,4,259.0,42,1205.0,176,13127.0,2064
4,2020-03-25,22.0,4,316.0,57,1488.0,283,15374.0,2247
...,...,...,...,...,...,...,...,...,...
281,2020-12-27,21514.0,77,62296.0,178,1250275.0,7157,7280442.0,20227
282,2020-12-28,21613.0,99,62507.0,211,1258315.0,8040,7300176.0,19734
283,2020-12-29,21718.0,105,62999.0,492,1270063.0,11748,7332925.0,32749
284,2020-12-30,21857.0,139,63375.0,376,1283701.0,13638,7360958.0,28033
285,2020-12-31,21990.0,133,63741.0,366,1300528.0,16827,7405064.0,44106

In [13]:
fl_mobility_df = mobility_df[mobility_df['sub_region_1']=='Florida']
fl_mobility_df = fl_mobility_df[fl_mobility_df['sub_region_2'].isnull()] # Get for all counties (null value in sub region 2)
# fl_mobility_df = fl_mobility_df.set_index('date')
# fl_mobility_df['date'] = pd.to_datetime(fl_mobility_df['date'])
# mask = (fl_mobility_df['date'] >= start_date) & (fl_mobility_df['date'] <= end_date)
# fl_mobility_df = fl_mobility_df.loc[mask].reset_index(drop=True)
fl_mobility_df = fl_mobility_df[35:321] # Issue with Date sorting, just clipped to the correct number of rows.
fl_mobility_df = fl_mobility_df.drop(['date', 'sub_region_1','sub_region_2'], 1)
fl_mobility_df = fl_mobility_df.reset_index(drop=True) # To prevent adding rows after concating
fl_mobility_df

,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,-39.0,-3.0,-33.0,-42.0,-26.0,11.0
1,-43.0,-12.0,-33.0,-49.0,-33.0,11.0
2,-37.0,-12.0,-33.0,-46.0,-36.0,15.0
3,-38.0,-12.0,-33.0,-46.0,-39.0,16.0
4,-38.0,-13.0,-33.0,-48.0,-40.0,17.0
...,...,...,...,...,...,...
281,-22.0,-18.0,-23.0,-24.0,-20.0,6.0
282,-13.0,-10.0,-13.0,-30.0,-41.0,11.0
283,-12.0,-7.0,-8.0,-27.0,-41.0,11.0
284,-7.0,-2.0,-7.0,-25.0,-40.0,10.0
285,-6.0,13.0,-4.0,-34.0,-48.0,11.0

In [14]:
fl_full_df = pd.concat([fl_ctp_df, fl_mobility_df], axis=1)
fl_full_df

,date,death,deathIncrease,hospitalized,hospitalizedIncrease,positive,positiveIncrease,negative,negativeIncrease,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,2020-03-21,12.0,2,158.0,158,528.0,142,6579.0,4709,-39.0,-3.0,-33.0,-42.0,-26.0,11.0
1,2020-03-22,13.0,1,185.0,27,731.0,203,7990.0,1411,-43.0,-12.0,-33.0,-49.0,-33.0,11.0
2,2020-03-23,14.0,1,217.0,32,1029.0,298,11063.0,3073,-37.0,-12.0,-33.0,-46.0,-36.0,15.0
3,2020-03-24,18.0,4,259.0,42,1205.0,176,13127.0,2064,-38.0,-12.0,-33.0,-46.0,-39.0,16.0
4,2020-03-25,22.0,4,316.0,57,1488.0,283,15374.0,2247,-38.0,-13.0,-33.0,-48.0,-40.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,2020-12-27,21514.0,77,62296.0,178,1250275.0,7157,7280442.0,20227,-22.0,-18.0,-23.0,-24.0,-20.0,6.0
282,2020-12-28,21613.0,99,62507.0,211,1258315.0,8040,7300176.0,19734,-13.0,-10.0,-13.0,-30.0,-41.0,11.0
283,2020-12-29,21718.0,105,62999.0,492,1270063.0,11748,7332925.0,32749,-12.0,-7.0,-8.0,-27.0,-41.0,11.0
284,2020-12-30,21857.0,139,63375.0,376,1283701.0,13638,7360958.0,28033,-7.0,-2.0,-7.0,-25.0,-40.0,10.0
285,2020-12-31,21990.0,133,63741.0,366,1300528.0,16827,7405064.0,44106,-6.0,13.0,-4.0,-34.0,-48.0,11.0

# Scaling

In [15]:
fl_full_df = fl_full_df.set_index('date')

In [16]:
scaler = MinMaxScaler(feature_range=(-1,1))

In [17]:
fl_full_scaled_df = pd.DataFrame(
    scaler.fit_transform(fl_full_df.values),
    columns=fl_full_df.columns,
    index=fl_full_df.index
)

In [18]:
fl_full_scaled_df

,death,deathIncrease,hospitalized,hospitalizedIncrease,positive,positiveIncrease,negative,negativeIncrease,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
date,,,,,,,,,,,,,,
2020-03-21,-1.000000,-0.985560,-1.000000,-0.492777,-1.000000,-0.983122,-1.000000,-0.889727,-0.038961,0.341772,0.104478,0.098039,0.623188,-0.272727
2020-03-22,-0.999909,-0.992780,-0.999151,-0.913323,-0.999688,-0.975872,-0.999619,-0.966958,-0.142857,0.113924,0.104478,-0.176471,0.420290,-0.272727
2020-03-23,-0.999818,-0.992780,-0.998144,-0.897271,-0.999229,-0.964581,-0.998788,-0.928038,0.012987,0.113924,0.104478,-0.058824,0.333333,0.090909
2020-03-24,-0.999454,-0.971119,-0.996823,-0.865169,-0.998958,-0.979081,-0.998230,-0.951666,-0.012987,0.113924,0.104478,-0.058824,0.246377,0.181818
2020-03-25,-0.999090,-0.971119,-0.995030,-0.817014,-0.998523,-0.966364,-0.997622,-0.947381,-0.012987,0.088608,0.104478,-0.137255,0.217391,0.272727
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-27,0.956684,-0.444043,0.954548,-0.428571,0.922688,-0.149343,0.966311,-0.526333,0.402597,-0.037975,0.402985,0.803922,0.797101,-0.727273
2020-12-28,0.965693,-0.285199,0.961185,-0.322632,0.935057,-0.044393,0.971646,-0.537878,0.636364,0.164557,0.701493,0.568627,0.188406,-0.272727
2020-12-29,0.975248,-0.241877,0.976660,0.579454,0.953131,0.396327,0.980499,-0.233098,0.662338,0.240506,0.850746,0.686275,0.188406,-0.272727
2020-12-30,0.987897,0.003610,0.988487,0.207063,0.974112,0.620966,0.988077,-0.343536,0.792208,0.367089,0.880597,0.764706,0.217391,-0.363636
2020-12-31,1.000000,-0.039711,1.000000,0.174960,1.000000,1.000000,1.000000,0.032855,0.818182,0.746835,0.970149,0.411765,-0.014493,-0.272727

#  Export

In [39]:
fl_full_df.to_csv('exports/florida.csv', index=True)
fl_full_scaled_df.to_csv('exports/florida-scaled.csv', index=True)